window {
    margin: 0px;
    border-radius: 30px;
    border: 2px solid #ee4444;
}

#input {
    margin: 5px;
    border: none;
    color: #FFFFFF;
    border-radius: 30px;
}

#inner-box {
    margin: 5px;
    border: none;
    border-radius: 30px;
}

#outer-box {
    margin: 15px;
    border: none;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
} 

#entry:selected {
    border-radius: 20px;
    outline: none;
}

#entry:selected * {
    border-radius: 20px;
    outline: none;
}
